{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Portfolio</title>
</head>
<body>
    <header class="header">
        <a href="#home" class="logo">Leam
        	<span>Cohen</span>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
        	<a href="#home" class="acive">Home</a>
        	<a href="#military">Military</a>
            <a href="#education">Education</a>
        	<a href="#skills">Skills</a>
        	<a href="#projects">Projects</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, It's <span>Leam</span></h1>
            <h3 class="text-animation">I'm a <span></span></h3>
            <p>As a passionate and diligent aspiring security researcher, I am driven by a deep curiosity for understanding and exloiting systems. While I'm relatively new to the professional realm, my enthusiasm for exploitation has been honed through independent study and hands-on projects.<br>What sets me apart is my insatiable appetite for learning and my proactive approach to staying abreast of industry trends and best practices. I am eager to apply my theoretical knowledge in practical scenarios.<br>I possess strong problem-solving abilities and a meticulous attention to detail, attributes that are essential in identifying and addressing security gaps effectively. <br>With a keen desire to learn from seasoned professionals and contribute to impactful projects, I am eager to embark on a career where I can make a tangible difference and lavarage my skills.
            </p>
            <div class="social-icons">
                <a href="https://github.com/LeamCohen"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/liamco21"><i class='bx bxl-linkedin'></i></a>
                <!--<a href="#"><i class='bx bxl-instagram'></i></a>-->
            </div>
        </div>
            <div class="home-img">
                <img src="{% static 'app/Unknown.png' %}" alt="">
            </div>
    </section>
    <section class="education" id="military">
        <h2 class="heading">Military</h2>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2023</div>
                    <div class="timeline-content">
                        <h3>Team Lead</h3>
                        <p>Lead a team of four developers and data engineers.
                            <br>Created complex queries to enhanche data understanding.
                            <br>Worked closedly with Unit 8200.
                            <br>Interacted with most of Intell Resources such as SIGINT, HUMINT & OSINT / WEBINT.
                        </p>
                    </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2022</div>
                    <div class="timeline-content">
                        <h3>Data Analyst</h3>
                        <p>
                            Conducted deep research and data analysis for Intell report creations.<br>
                            Deep knowledge of Intell methodologies and systems.<br>
                        </p>
                    </div>
            </div> 
        </div>
    </section>
    <section class="education" id="education">
        <h2 class="heading">Education</h2>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">Current</div>
                <div class="timeline-content">
                        <h3>Try Hack Me Certifications of Completion</h3>
                        <p>
                            Jr. Pentester <br>
                            Offensive Pentesting <br>
                            Red Teaming <br>
                        </p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2023 - current</div>
                    <div class="timeline-content">
                        <h3>Open University</h3>
                        <p>
                            Life Sciences & Computer Sciences.
                        </p>
                    </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2015 - 2019</div>
                    <div class="timeline-content">
                        <h3>Jewish Comunity of Milan High School</h3>
                        <p>
                            Studied Applied Sciences which includes Computer Science, Phisics, Chemestry and Biology.
                        </p>
                    </div>
            </div> 
        </div>
    </section>
    <section class="skills" id="skills">
        <h1 class="heading">My <span>Skills</span></h1>
        <div class="skills-content">
            <h1 class="sub-title">Technical Skills</h1>
            <div class="technical-bars">
                <div class="bar">
                    <div class="info">
                        <span>Reverse Engieering ARM Assembly</span>
                    </div>
                    <div class="progress-line py">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>C programming</span>
                    </div>
                    <div class="progress-line C">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Python and JS scripting</span>
                    </div>
                    <div class="progress-line pyjs">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>gdb debugging</span>
                    </div>
                    <div class="progress-line gbb">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Docker & K8s</span>
                    </div>
                    <div class="progress-line Bash">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Elettronics</span>
                    </div>
                    <div class="progress-line Net">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Git</span>
                    </div>
                    <div class="progress-line Git">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Linux & Windows Internals</span>
                    </div>
                    <div class="progress-line Linux">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>SQL</span>
                    </div>
                    <div class="progress-line SQL">
                        <span></span>
                    </div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Mirosoft Office Suite</span>
                    </div>
                    <div class="progress-line MOS">
                        <span></span>
                    </div>
                </div>
            </div>
        <!--
        </div>
        <div class="skills-content">-->
            <h1 class="sub-title">Interpersonal Skills</h1>
            <div class="radial-bars">
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">85%</div>
                    <div class="text">Creativity</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">95%</div>
                    <div class="text">Team worker</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">95%</div>
                    <div class="text" id="oot">Out of the Box Thinking</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">85%</div>
                    <div class="text">Analytical Skills</div>
                </div>

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">95%</div>
                    <div class="text">Working Under Pressure</div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects" id="projects">
        <div class="projects-box">
            <h2 class="heading">Projects</h2>

            <div class="wrapper">
                <a href="https://github.com/LeamCohen/BSAlgo/blob/main/BubbleSort.c">
                    <div class="project-item">
                        <img src="{% static '/app/bsa.svg.png' %}" alt="">
                        <h1>B.S.A.</h1>
                        <div class="rating">
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i><!--
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>
                            <i class='bx bxs-star' id="star"></i>-->
                        </div>
                        <p>
                            Basic CLI Bubble Sorting Alghorithm written in C programming language.
                        </p>
                    </div>
                </a>

                <a href="https://github.com/LeamCohen/Olimpus">
                <div class="project-item">
                    <img src="{% static '/app/rk.png' %}" alt="">
                    <h1>Olympus</h1>
                    <div class="rating">
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                    </div>
                    <p>
                        An Advance Persistent Threat RootKit written in C.
                    </p>
                </div>
                </a>
                
                <a href="https://tryhackme.com/p/Nexsus">
                <div class="project-item">
                    <img src="{% static '/app/thm.webp' %}" alt="TryHackMe">
                    <h1>Try Hack Me CTFs and Rooms</h1>
                    <div class="rating">
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                    </div>
                    <p>
                        My THM profile where is visible the  CTF i participated and the room i complete in order to gain more knowledge.
                    </p>
                </div>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="social">
            <a href="https://github.com/LeamCohen"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/liamco21"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
        </div>
        <ul class="list">
            <li><a href="">FAQ</a></li>
            <li><a href="#home">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>
        <p class="copyright">
            © Leam Cohen | All Rights Reserved
        </p>
    </footer>
    <script src="{% static 'app/app.js' %}"></script>
</body>
</html>